/* css styles */

/* center all titles*/
.title {
  text-align: center;
}

/* set header color */

h1, h2, h3 {
  text-align: center;
  color: $header-color;
} 

/* fix for mobile navigation */
.wrapper {
  display: flex;  
  flex-flow: row wrap;
  text-align: center; 
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.left-block {
  
}

.right-block {
  text-align: left;
  
}

@media all and (max-width: 600px) {
  .left-block    { flex: 3 0px; }
  .left-block { order: 1; } 
  .right-block    { order: 2; }
  
}
